
body {
  position: relative;
}

h2 {
    font-size: 100px;
    color: red;
}

h3 {
    font-size: 80px;
}

ul {
    list-style: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

button {
    background:none;
}

button:focus {outline:0;}

abbr {
    color:#19b290;
}

/** Preloader **/
.preloader {
    background: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

.rounder {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    border-right: 5px solid #333333;
    border-left: 5px solid #1abc9c;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rorate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rorate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rorate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rorate(360deg);
    }
}


/*** sidebar ***/
#navBar {
    position: fixed;
    width: 250px;
    height: 60%;
    background-color: #eeeeee !important;
    margin-top: 50px;
}

.col-md-9 {
    margin-left: 30%;
}

.nav {
   　display: none !important;
    -webkit-transition-timing-function: ease-in-out; /* Safari */
    transition-timing-function: ease-in-out;
}

#navBar .nav li {
    margin-top: 10px;
    -webkit-transition-timing-function: ease-in-out; /* Safari */
    transition-timing-function: ease-in-out;
}

#navBar .nav.show {
   　display: block;
    -webkit-transition-timing-function: ease-in-out; /* Safari */
    transition-timing-function: ease-in-out;
}

#navBar .navShow {
    height: 50px;
    width: 50px;
    background-color: #19b290;
    border: none;
    position: absolute;
    left: 200px;
    top: 0px;
}

#navBar .nav {
    height: 50px;
    background-color: #c4c4c4;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 50px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
     -webkit-transition-timing-function: ease-in-out; /* Safari */
    transition-timing-function: ease-in-out;
}

#navBar .nav a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
}

#navBar h3 {
    margin-top: 30px;
    text-align: center;
}

#navBar .gray-text {
    color: #b9b9bb;
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}

.socialmedia li  {
  margin-right: 10px;
}

.socialmedia li i {
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
}
.navShow {
    color: white;
}

.fa-facebook {
    background-color: #334f8d;
}

.fa-twitter {
    background-color: #1997f0;
}

.fa-linkedin {
    background-color: #006cac;
}

.fa-github {
    background-color: #2d2d2d;
}

/** blog title **/
#blog {
    background-color: #eeeeee;
}

#blog h2, #blog h3, #blog p, #blog .readmore {
    margin-left: 20px;
}

.blogTitle {
    margin-top: 30px;
    margin-bottom: 30px;
}

#blog .postTitle {
    font-weight: bold;
}

#blog a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

#blog .readmore, #blog .name {
    color: #19b290;
}

#blog .readmore {
    padding-bottom: 50px;
}

#blog .post {
    margin-bottom: 50px;
}

.load {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px #19b290 dotted;
    background-color: none;
    margin: auto;
    text-align: center;
    margin-left: 250px;
}

.news-wrapper {
   margin-bottom: 50px;
   margin-top: 50px;
   margin-left: 300px;
}

.newsLetterInput{
    border: 5px #19b290 solid;
    border-radius: 30px;
    float: left;
    box-sizing: border-box;
    padding-right: 80px;
    width: 300px;
    padding-right: 50px;
    background-color: black;
    color : white;
    padding: 10px;
} 

.newsLetterButton {
    margin-left: -80px;
    height: 50px;
    border-radius: 30px;
    width: 80px;
    background: #19b290;
    color: white;
    border: 0;
}

.news-wrapper .subscribe　{
    margin-left: 100px;
}

/** page **/
#page {
    background-color: #eeeeee !important;
    margin-top: 50px;
}

#page h3, #page h2 , #page p, #page h4{
    margin-left: 20px;
}

.backHome {
    margin-top: 30px;
    margin-bottom: 30px;  
}

#page a {
    color: #19b290;
    text-decoration: none;
}

#page .postImg {
    height: 200px;
    width: auto;
    margin-left: 300px;
}

#page .card {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px 2px #888888;
    border: white;
    padding: 10px 10px;
    margin-left: 20px;
}

#page .postProfile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#page .profileDetail {
    margin-top: 20px;
}

.recommendation {
    margin-top: 20px;
}

.recommendation ul {
     display: flex;
}

.recommendation li {
    flex-direction: row;
    padding: 10px 10px;
    height: 150px;
    width: 200px;
    border-radius: 10%;
    border: 2px #19b290 dotted;
    background-color: none;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
}

.recommendation  li {
    font-size: 20px;
}

/** About me **/

#about {
    background-color: #eeeeee !important;
    margin-top: 50px;
}

#about h3 , #about h2, #about p{
    margin-left: 20px;
}

.aboutTitle {
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutButton {
    border-radius : 5px;   
    border : none;
    color : white;
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.aboutButton.one {
  background:  #f10796;
  margin-left: 20px;
}

.aboutButton.two {
  background:  #11cc7f;
}

.aboutButton.three {
  background:  #079cf1;
}

.aboutButton.four {
  background: #f86800;
}

.about-img {
   height: 200px; 
   width: 250px; 
   margin-left: -8px;
}

#about p {
    margin-bottom: 40px;
}

#about ul {
    margin-top: 20px;
}

#about ul li {
    margin-top : 10px;
}

/** work **/
#work {
    background-color: #eeeeee !important;
    margin-top: 50px;
}

#work h2, #work h3 {
     margin-left: 30px;
}

#portfolioFirst, #portfolioSecond, #portfolioThird, #portfolioFourth {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
}

table tr td {
    border: 1px solid black;
}

td {
    padding: 30px 30px;
}

.portfolio-img {
    height: 255px; 
    width: 350px;
}

.loadPortfolio {
    margin-top: 20px;
}

.load {
    margin-left: 400px;
}

/** contact **/
#contact {
    background-color: #eeeeee !important;
    margin-top: 50px;
}

#contact h3, #contact h2, #contact h4,  #contact p {
    margin-left: 20px;
}

#contact .work-link {
     color:#19b290 !important;
} 

#contact h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.comment {
    background-color: black;
    color: white;
    padding: 20px 20px;
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.comment.one:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 670px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505 transparent transparent 
}

.comment.two:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 440px;
    top: 670px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505 transparent transparent 
}

.comment.three {
    width: 350px !important;
}

.comment.three:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 965px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505 transparent transparent 
}

.clients-comment {
    display: flex;
    flex-direction: row;
}

.client {
    float: left;
}

.clear {
    clear: both;
}

.contact-detail {
    display: flex;
    flex-direction: row;
}

.contact-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-wrapper h2 {
    margin-bottom: 20px;
}

#contact .contacts {
    margin-right: 110px;
    margin-left: 20px;
}

#contact .contacts i {
    margin-right: 130px;
}

.phone i {
    color: #079cf1;
}

.mail i {
    color: #f86800;
}

.time i {
    color: #e7d67c;
}

.form-question {
    display: flex;
    flex-wrap:wrap;
}

.form-question .question {
     width: 45%;
     box-sizing: border-box;
     margin-right: 20px;
     margin-bottom: 20px;
     box-shadow: 2px 2px 2px 2px #888888;
     border: white;
     padding: 10px 10px;
     margin-left: 20px;
}

#contact select{
    width: 95%;
    height: 40px;
    box-shadow: 2px 2px 2px 2px #888888;
    border: white;
    padding: 10px 10px;
    margin-left: 20px;
}

#contact .message {
    margin-top: 20px;
    width: 95%;
    height: 120px;
    box-shadow: 2px 2px 2px 2px #888888;
    border: white;
    padding: 10px 10px;
    margin-left: 20px;
}

.loadContact {
    margin-top: 50px;
}
/** page **/
#page {
    background-color: #eeeeee !important;
    width: 80%;
    margin-top: 50px;
}


/** footer **/
.scroll {
    display: none;
    position: fixed;
    color: #19b290;
    border: none;
    top: 800px;
    right: 20px;
}

.footer {
    margin-top: 50px;
    height: 150px;
    background-color: #eeeeee !important;
    margin-left: 30%;
}

.footer  ul a {
   text-decoration: none;
}

.footer ul {
    padding-top: 50px;
    margin-left: 280px;
}

.footer li {
    margin-right: 50px;
}

/** Responsive **/

@media only screen and (max-width: 991px) {
#navBar {
    z-index: 100;
    height: 70%;
}

.col-md-9 {
    margin-left: 40%;
    width: 50%;
}

 #blog {
    width: 100%;
 }

.load {
    margin-left: 200px;
}

.news-wrapper {
     margin-left: 150px;
}

/* work */
#portfolioFirst, #portfolioSecond, #portfolioThird, #portfolioFourth {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}


/*contact*/
.clients-comment {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    display: flex;
    flex-direction: column;
}

.comment.one:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 825px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505  transparent transparent 
}

.comment.two:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 1120px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color:  #050505 transparent transparent 
}

.comment.three {
    width: 350px !important;
}

.comment.three:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 1415px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color:  #050505  transparent transparent 
}

/* post */
#page .postImg {
    margin-left: 150px;
}

.recommendation li {
    height: 200px;
}

.footer {
     width: 70%;
     margin-left: 283px;
}

.footer ul {
    padding-top: 50px;
    margin-left: 50px;
}

}

@media screen and (max-device-width: 480px) and (orientation: portrait){
 #navBar {
    width: 100%;
    position: relative;
 }

#navBar .about-img {
    width: 104%;
    margin-right: 0px;
}
 
.col-md-9 {
   margin-left: 0%;
   margin-top: 20px;
}

.news-wrapper {
   margin-left: 70px;
}

.socialmedia {
    margin-left: 100px;
}

#navBar .navShow {
    height: 50px;
    width: 50px;
    background-color: #19b290;
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

#navBar .nav li {
    margin-left: 50px;
}

.load {
    margin-left: 150px;
}

/* about */
#about .aboutButton {
    margin-left: 10px;
    margin-top: 5px;
}

/* work */
#portfolioFirst, #portfolioSecond, #portfolioThird, #portfolioFourth {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

/* contact */

.comment.one:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 985px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505  transparent transparent 
}

.comment.two:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 1280px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color:  #050505 transparent transparent 
}

.comment.three {
    width: 350px !important;
}

.comment.three:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 1575px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #050505 transparent transparent 
}

.footer {
  margin-left: 0%;
  width: 100%;
}

.footer ul {
    margin-left: 10px;
}
}
